:root {
    --main-bg-color: rgb(255, 254, 245);
    --main-section-title-color:  rgb(72, 72, 72);
    --main-item-title-color: rgb(7, 7, 7);
    --border-color: rgb(72, 72, 72);
    --body-color: rgb(72, 72, 72);
    --hover-background-color:black;
    --hover-color: white;
    --box-shadow-color:  rgba(28, 28, 29, 0.35);
}
body{
    color: var(--body-color);
   
    font-family: 'Lato', sans-serif;
    box-sizing: border-box; 
    font-size: 1.3em;
    background-color: var(--main-bg-color);
    
   
}

.dark-mode{
    --main-darkmode-color: rgb(255, 255, 250);
    --main-bg-color:  rgb(32, 32, 32);
    --main-section-title-color:  var(--main-darkmode-color);
    --main-item-title-color: var(--main-darkmode-color);
    --border-color: var(--main-darkmode-color);
    --body-color: var(--main-darkmode-color);
    --hover-background-color : var(--main-darkmode-color);
    --hover-color: black;
    --box-shadow-color:  black;
   /* background-color: rgb(17, 23, 39);
    /*background-color: rgb(32, 32, 32);*/
}

h2{
    text-align: center;
}
li{
    
    margin: 0%;
}
a{
    color: steelblue;
}
i{
    margin: 5%;
}
.resume{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  /*   grid-template-rows: 1fr 1fr 1fr 1fr;*/
    grid-template-areas: 
    ". header header header header ."
        "name name name name name name  "
        ". about about about about .  "
        "showcase showcase showcase showcase showcase showcase"
        "education education education education . ."
        
        "work work work work . ."
        "contact contact contact contact contact contact";
    box-shadow: 0 5px 10px 0 rgba(28, 28, 29, 0.35);
    grid-gap: 5px;
}


.grid-area {
    padding: 1em 1em 1em 1em;
   /* border : 1px rgb(161, 161, 161) solid;*/
  margin: 1%;
   /* border-radius: 10px;*/
}
.header{
    grid-area: header;
 
   
}
.header-items{
    text-decoration: none;
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    position: sticky;
    justify-content: flex-end;
   
}
.header-item{
    cursor: pointer;
    margin: 0%;
    padding: 1%;
    border-radius: 10%;
   
    }
.header-item:hover{
    background-color: var(--hover-background-color);
    color:  var(--hover-color);
}
.header > ul{
    list-style:  none ;
}
button{
    outline: none;
   
}

.name{
   
    grid-area: name;
    text-align: center;
    font-size: 4rem;
    margin-bottom: 25%;
    height: 100%;
    border: none;
}
  /* Name Section */
  #full-name{
    padding: 0px;
    margin-bottom: 2%;
    
}
#position{
    padding: 0px;
    margin: 0px;
}
#email{
    font-size: 0.5em;
    padding: 0px;
    margin: 10%;
}
.about{
    grid-area: about;
    border-style: solid;
    border-color:var( --border-color);
    border-radius: 10px;
}
.showcase{
    grid-area: showcase;
   
   text-align: center;
}

.work{
    grid-area: work;
}
.education{
    grid-area: education;
}


.description-item{
    font-size: 1.2em;
   margin:5%;
   list-style-type: none;
    
}

.contact{
    grid-area: contact;
    text-align: center;
}
.section-title{
    font-size: 3rem;
    color:var(--main-section-title-color);;
}
.item-title{
    font-size: 1.2em;
    font-weight: 700;
    color:var(--main-item-title-color);
    
    margin-bottom: 5px;
}
.item-info{
    font-size: 0.8em;
    margin-top: 0px;
    padding-top: 0px;
   
}
.item-description{
   
    margin-left: 5%;
}

.list-items{
  
    list-style:  none ;
}
.cards{
    
    display: grid;
   
    grid-template-columns: 1fr ;
    
}
.card{
    display: grid;
   
    grid-template-columns: 1fr  1fr;
  /*background-image: linear-gradient(120deg, #fbc2eb 0%, #a6c1ee 100%);
  */ 
   text-align: center;
    border-color: black;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 2px;
    border: none;
   /* box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);*/
  /* box-shadow: 0 5px 10px 0 rgba(28, 28, 29, 0.35);
   grid-gap: 0%;
    */
    border-radius: 0px;
    padding: 1%;
   
  /*  border-width: 3px;
    border-style: solid;*/
    margin-bottom: 5%;
    margin-top: 1%;
    justify-content: center;
    
}

.game-description-card{
   
    text-align: justify;
    border-color: rgb(72, 72, 72);
    border-left-style: none;
    border-radius: 1%;
    border-width: 1%;
    margin-left: 5%;
   
  /*background-color: lightblue;*/
  align-content: center;
 
}
.game-description-card-left{
   
    text-align: justify;
    border-color: var(--border-color);
    border-right-style: none;
    border-width: 1%;
    margin-right: 5%;
    margin-left: 0%;
  /*background-color: lightblue;*/
  align-content: center;
}
.card-image{
    
}


.game-description-area{
   
    /*justify-content: right;*/
   text-align: justify;
    margin: 0%;
 }
.game-name{
    font-size: 2em;
  padding: 0;
   margin-top:0%;
   margin-bottom: 12%;
}
 .game-image{
   
    width: 100%;
    height: 100%;
    margin-bottom: 0%;
    border-radius: 12px;
    box-shadow: 0 5px 10px 0 var(--box-shadow-color);
    grid-gap: 0%;
   
  }
  .game-gallery{
      display:flex;
      margin: 10%;
      justify-content: space-around;
  }
  .game-gallery-image{
    width: 20%;
    height: 20%;
    margin-bottom: 0%;
    border-radius: 0px;
  }
  .image-selected{
    opacity: 0.6;
}

  .description-text{
     
    text-align: center;
    align-content: center;
    vertical-align: center;
    align-items: center;
  }
.mobile-only{
    display: none;
}

@media (max-width: 1200px){
    body{
        margin: auto;
        font-size: small; 
    }
.header{
    
}

    .resume{
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-areas:
        "header"
        "name"
        "about"
        "showcase"
        "education"
        "work"
        "contact";
        
    }
    .name{
        grid-area: name;
        text-align: center;
        font-size: 2.2em;
        margin-bottom: 2%;
        
        border: none;
    }
   
    .section-title{
        text-align: center;
        font-size: 2em;
    }
    body{
        text-align: center;
        
    }
    li{
        margin: 2%;
        list-style-type: circle;
    }
    
    .list-items{
        text-align: left;
        
        margin: 0;
        margin-bottom: 10%;
        list-style-type: circle;
    }
    .game-description{
        text-align: center;
        font-size: 0.7em;
    }
    
    .description-item{
        margin:2%;
        list-style: none;
         
     }
     ul{
         
         padding-inline-start: 0px;
       
     }

     li{
        list-style: none;
        text-decoration: none;
     }
     .header-item{
         padding: 1em;
     }
    .about-text{
        text-align: center;
        
        }
    .cards{
        display: grid;
        grid-template-columns: 1fr;
        
           
    }
    .card{
        display: grid;
        padding: 0;
        grid-template-columns: 1fr;
        grid-template-areas:
        "game-name"
        "card-image"
        "card-description";
    }
    .game-name{
        grid-area: game-name;
        font-size: 1.8em;
    }
    .game-description-card{
        margin: 0;
        grid-area: card-description;
    }

    .game-description-area{
   
        /*justify-content: right;*/
       text-align: center;
        margin: 0%;
     }
    .card-image{
        grid-area: card-image;
    }
    .header-item:hover{
        background-color: var(--main-bg-color);
        color:  var(--main-section-title-color);
    }
    .mobile-only{
        display: block;
    }

    .big-screen-only{
        display: none;
    }

    
        
}